/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   1. General Styles
   2. Header Styles
   3. Navigation Styles
   4. Button Styles
   5. Typography
   6. Helpers
   ========================================================================== */


/** 1. General Styles **/

body {
  background: #f9f8f4;
/*  border-top: 4px solid #4A4F6A;*/
  border-top: 3px solid #51493d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

#pageBody {
  margin-top: 3em;
  margin-bottom:8em;
  color: #51493d;
}

#pageBody a {
  color: #995F37;
  text-decoration: none;
  transition: all 0.6s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


#pageBody a:hover {
  color: #51493d;
}

#pageBody p a {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5px;
}

#pageBody .page-title {
  border-bottom: 1px solid #d4d0cb;
}

#pageBody .page-title-light, #pageBody .page-title {
    margin-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

#pageBody .page-title h2 {
  font-size: 1.6em;
  color: #51493d;
}

#pageBody .page-title span.description {
  font-family: 'Droid Sans', sans-serif;
}

span.highlight {
  color: #996439;
}

/** 2. Header Styles **/

#header {
  background: #fff;
  text-align: center;
  display: block;
  padding-top: 4em;
  padding-bottom: 4em;
}

#header h1 {
/*  font-size: 3.6em;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.025em;
  margin-bottom: 0.50em;
  font-family: "EB Garamond", serif;*/
  
  /* Theydon Heights is a: */

  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
/*  font-family: 'Libre Baskerville', serif;*/
  font-size: 2.3em;
  color: #4A4F6A;
  font-weight: 300;
/*  line-height: 21px;*/
}

#header h1 span {
  color: #AD9571;
  font-style: normal;
}

#header h2 {
  font-weight: 300;
  font-size: 0.9em;
  color: #444;
  margin-top: 1.2em;
  letter-spacing: .2em;
  text-transform: uppercase;
  position: relative;
  font-family: "EB Garamond", serif;
}



/** 3. Navigation Styles **/

#nav-banner {
/*  background: #f9f8f4;*/
  background: url(../img/swirl.png);
  border-top: 1px solid #51493d;
/*  border-top: 2px solid #c02702;*/
  border-bottom: 1px solid #d4d0cb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}

.pure-menu-horizontal {
  text-align: center;
}

.pure-menu-item {
  padding: 1.1em 1em;
  text-transform: uppercase;
/*  font-family: "EB Garamond", serif;*/
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: .1em;
}

.pure-menu-selected a {
  color: #51493d; 
  border-bottom: 1px solid #d4d0cb;
}

.pure-menu-link {
  color: #51493d;
}

.slicknav_menu {
  background: #474137;
/*  background: #4A4F6A;*/
}

.slicknav_menu .pure-menu-selected a:not(:hover) {
  color: #d4d0cb !important;
}

/** 4. Forms **/

label:not(.forCheckbox) {
  font-family: 'Arvo', serif;
  font-weight: bold;
  color: #51493d;
}

label span {
  color: #996439;
}

input, textarea {
/*  width: 100% !important;*/
}

input[type=text], input[type=email], textarea {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-top: 0.5em !important;
  display: block;
}

input[type=text], input[type=email] {
  height: 2.9em;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 1px solid #996439 !important;
}

input.large {
  padding: 1.5em .5em;
  border: 1px solid #d4d0cb;
  font-size: .875em;
  color: #51493d;
  background: #f9f9f7;
}

textarea.large {
  border: 1px solid #d4d0cb;
  font-size: .875em;
  color: #51493d;
  background: #f9f9f7;
}

.l-box {
  padding: 2em;
  border-;
}


/** 4. Button Styles **/

.pure-button {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
   color: white;
   border-radius: 4px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-contact {
  background-color: #996439;
  border-color: #996439;
  color: #f9f8f4;
  border-radius: 0;
  padding: 0.8em 1.7em 0.8em 1.7em;
  transition: all 0.6s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}

.design-link {
  white-space: normal;
}

.button-contact:hover {
  background-color: #474137;
  border-color: #51493d;
}

.button-success {
   background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
   background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
   background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
   background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
 font-size: 70%;
}

.button-small {
 font-size: 85%;
}

.button-large {
 font-size: 110%;
}

.button-xlarge {
 font-size: 125%;
}

/** 5. Typography **/

h2.content-subhead {
  font-weight: 300;
}

/** 6. Helpers **/

.small-margin-bottom {
  margin-bottom: 3em;
}

.tiny-margin-bottom {
  margin-bottom: 2em;
}

.center-text {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/** 7. Footer **/

#footer {
  font-size: 0.9em;
}

#footer #footer-main {
  background: #51493d;
  color: #a09a8d;
  text-shadow: none;
  padding: 6em 0;
  border-top: 2px solid #d4d0cb;
  
}

#footer #footer-main .footer-right-column {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

#footer #footer-main aside {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  padding: 1em 0 2.7em 0;
}

#footer #footer-main aside h4 {
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 1.1em;
}

#footer #footer-main aside .pure-button {
  margin-top: 0.5em;
}

#footer #footer-copyright {
  background: #474137;
  color: #897d6f;
  text-shadow: none;
  padding: 1.5em 0;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

#footer #footer-copyright ul { 
/*  text-align: right;*/
  text-align: center;
  display: none;
}

#footer #footer-copyright li { 
  display: inline-block; 
  margin-left: 1.6em;
}

#footer #footer-copyright a {
  color: #897d6f;
  text-decoration: none;
}

/** Portfolio Page **/

.hero-image {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.site-intro, .site-main-text, .plan-details {
  padding-bottom: 3.2em;
  border-bottom: 1px solid #d4d0cb; 
}


.portfolio-details {
  padding-top: 3em;
}

.portfolio-details h3 {
  font-family: 'Arvo', serif;
  font-weight: bold;
  color: #51493d;
}

.portfolio-details p {
  line-height: 1.75em;
}

.portfolio-details ul {
  line-height: 1.75em;
  list-style-type: square;
  padding-left: 1.1em;
  margin-top: 2em;
}

/** Portfolio Listing **/

.portfolio-grid-item {
  box-sizing: border-box;
}

.thumbnail {
/*  border-radius: 6px;*/
/*  -moz-border-radius: 6px;*/
/*  -webkit-border-radius: 6px;*/
}

.portfolio-grid-item a:hover .caption {
  opacity: 1;
}

.portfolio-grid-item a {
  position: relative;
  display: block;
}

.portfolio-grid-item a img {
  z-index: 4;
}

.portfolio-grid-item a .caption {
		cursor: pointer;
		position: absolute;
    background: rgba(81, 73, 61, 0.96);
/*    background: #AD9571;*/
/*    height: 266px;*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
/*    width: 552px;*/
		z-index: 5;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
}
  
.portfolio-grid-item a .caption-text{
	z-index: 10;
	color: #fff;
	top:100px;
}

.portfolio-grid-item h3 {
  font-family: 'Arvo', serif;
  font-weight: 300;
  margin-top: 13%;
  color: #d4d0cb;
}

.portfolio-grid-item .table {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.portfolio-grid-item .table div {
  position: absolute;
  background-color: rgba(0,0,0,0);
  border: 1px solid #996439;
  color: #996439;
  text-align: center;
  font-family: "Droid Sans", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 0.813em;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  padding: 1.15em 1.5em 1em 1.5em;
/*  opacity: 0;*/
  bottom: -5%;
  margin-left: -5.75em;
  margin-bottom: 16%;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.portfolio-grid-item .table div:hover {
  color: #d4d0cb;
  border-color: #d4d0cb;
}

/*Images */

.section-images img {
  display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* small*/
@media screen and (max-width: 48em) {
  .hide-for-small {
    display: none;
  }
  
  .portfolio-grid-item .table div {
    margin-bottom: 12%;
  }
}

/*Pure CSS Small*/
@media screen and (min-width: 48em) {
  #footer #footer-copyright {
    text-align: left;
  }
  
  footer #footer-copyright ul { 
    text-align: right !important;
/*    text-align: center;*/
  }
}

/*Pure CSS Medium*/
@media only screen and (min-width: 48em) {
  #footer #footer-main .bordered-right {
      border-right: 1px solid #60574d;
      box-sizing: border-box;
  }
  
  #footer #footer-main .footer-right-column p {
    margin-top: 6em;
  }
  
  #footer #footer-main .footer-right-column span {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
  
  #footer #footer-copyright ul { 
  /*  text-align: right;*/
    text-align: center;
    display: block;
  }
  
  /* Header */
  
  #header {
    background: url('/img/header.jpeg') no-repeat top !important;
  }
  
/*  #header h1 {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    color: #222;
  }*/

  #header h1 span {
    color: #000;
  }
}

/* Pure CSS Large */


@media screen and (min-width: 64em)	{
  .portfolio-grid-item {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}


/* Menu */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 48em) {
	/* #menu is the original menu */
	.js #main-nav {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}